### NextJS ###
# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# NextJS specific
/.next/
/out/

# Production build
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Typescript
*.tsbuildinfo
next-env.d.ts

### Misc ###
.DS_Store
