---
import Calendar from "../components/Calendar.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import ClutchCoIcon from "../assets/images/social/clutchco.png";
import LinkedInIcon from "../assets/images/social/linkedin.png";
---

<Layout title="Majikode">
    <section class="px-4 md:px-0 py-12 md:py-2">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full lg:w-1/2 px-4 mb-16 lg:mb-0">
                    <div class="max-w-xl mx-auto lg:mx-0">
                        <div class="max-w-lg mb-10">
                            <h1
                                class="font-heading text-6xl xs:text-8xl sm:text-9xl xl:text-10xl tracking-tighter mb-8"
                            >
                                Let's talk
                            </h1>
                            <p class="text-xl text-coolGray-600">
                                <span class="block">
                                    We are always on the lookout for new projects and clients.</span
                                ><span class="block mt-4"
                                    >We provide a project timeline and estimated budget <span class="font-bold"
                                        >before</span
                                    >
                                    billing for any work.</span
                                >
                            </p>
                        </div>
                        <div class="flex flex-wrap -mx-4 mb-20">
                            <div class="w-full sm:w-1/2 px-4 mb-6 sm:mb-0">
                                <div class="py-6 text-center border border-coolGray-300 rounded-3xl">
                                    <span class="block mb-2 text-sm text-coolGray-500">Call us</span>
                                    <a class="font-medium" href="tel:+48732008331">+48 732 008 331</a>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 px-4">
                                <div class="py-6 text-center border border-coolGray-300 rounded-3xl">
                                    <span class="block mb-2 text-sm text-coolGray-500">Email us</span>
                                    <a class="font-medium" href="mailto:hello@majikode.com">hello@majikode.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="mb-16">
                            <span class="block mb-5 font-medium text-lg">Socials</span>
                            <div class="flex flex-wrap items-center">
                                <a
                                    class="inline-flex mr-8 items-center hover:underline font-medium"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    href="https://clutch.co/profile/majikode"
                                >
                                    <Image width={14} src={ClutchCoIcon} alt="" loading="eager" />
                                    <span class="ml-3">Clutch</span>
                                </a>
                                <a
                                    class="inline-flex mr-8 items-center hover:underline font-medium"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    href="https://www.linkedin.com/company/majikode"
                                >
                                    <Image width={14} src={LinkedInIcon} alt="" loading="eager" />
                                    <span class="ml-3">LinkedIn</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-4">
                    <Calendar />
                </div>
            </div>
        </div>
    </section>
</Layout>
