---
import Guarantee from "../components/Guarantee.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import RandomImage1 from "../assets/images/random-1.png";
import RandomImage2 from "../assets/images/random-2.png";
import HomeBannerImage from "../assets/images/home-banner.png";
---

<Layout title="Majikode">
    <section class="pl-4 md:pl-0 md:pt-12">
        <div class="relative mx-auto mb-12 pb-32 lg:pb-12 border-b">
            <Image
                class="hidden sm:block absolute top-[-4rem] right-24 mt-1 rounded-4xl opacity-20"
                width={320}
                src={RandomImage1}
                alt=""
                loading="eager"
            />
            <h1 class="font-heading text-6xl sm:text-9xl tracking-tightest flex flex-col gap-10">
                <span>Software development.</span><span>Effectively and efficiently.</span>
            </h1>
            <div class="absolute bottom-0 right-0 mb-10 max-w-sm ml-auto text-right">
                <!-- 
					<span class="block mb-1 text-xs">Since</span>
					<span class="block mb-3 text-xs">2024</span>
					-->
                <p>
                    <span class="block">Majikode is a result-based company</span>
                    <span class="block">that specializes in meeting deadlines.</span>
                    <span class="block">Build your next digital product with us.</span>
                </p>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 align-items-end">
            <div class="w-full px-3 relative">
                <img
                    class="block rounded-4xl object-cover"
                    src={HomeBannerImage.src}
                    
                    alt="Software development agency"
                    loading="eager"
                    
                />
            </div>
        </div>
    </section>

    <section class="pl-4 md:pl-0 pt-12">
        <div class="relative">
            <Image
                class="hidden sm:block absolute top-0 right-1/2 mt-8 lg:mt-20 rounded-4xl opacity-40"
                src={RandomImage2}
                alt=""
                loading="eager"
            />
            <h1 class="font-heading text-6xl md:text-10xl tracking-tighter mb-24">Our guarantees</h1>
            <Guarantee
                index="01"
                title="Future-proof"
                description="The final product is a well-documented and well-tested codebase. We provide deployment and growth strategies."
            />
            <Guarantee
                index="02"
                title="Long-term support"
                description="We provide long-term support and maintenance for the products we build. We also offer support for existing products."
            />
            <Guarantee
                index="03"
                title="Communication"
                description="We are always available to answer your questions and provide you with updates on the progress of your project. Nothing happens without your approval."
            />
        </div>
    </section>

    <section class="pl-4 md:pl-0 pb-12">
        <div class="max-w-lg mx-auto lg:max-w-none">
            <div class="flex flex-wrap -mx-4 items-center">
                <div class="w-full lg:w-2/3 px-4 mb-12 lg:mb-0">
                    <div class="max-w-lg xl:max-w-none">
                        <h1 class="font-heading text-5xl md:text-6xl 2xl:text-8xl tracking-tighter mb-8">
                            Interested in working with us?
                        </h1>
                        <p class="xl:text-lg text-coolGray-500">
                            We are always looking for new challenges and ways to improve our skills. If you have a
                            project in mind, we would love to hear about it.
                        </p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 px-4">
                    <div class="flex flex-col sm:flex-row flex-wrap lg:justify-center">
                        <a
                            class="group inline-flex mb-3 sm:mb-0 sm:mr-6 py-5 px-10 text-black leading-none items-center justify-center bg-yellow-500 hover:bg-yellow-300 rounded-full transition duration-150"
                            href="/contact"
                        >
                            <span class="mr-2.5">Get in touch</span>
                            <span class="group-hover:rotate-45 transform transition duration-75">
                                <svg
                                    width="10"
                                    height="11"
                                    viewBox="0 0 10 11"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M9 1.5L1 9.5"
                                        stroke="currentColor"
                                        stroke-width="1.3"
                                        stroke-miterlimit="10"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path
                                        d="M9 8.83571V1.5H1.66429"
                                        stroke="currentColor"
                                        stroke-width="1.3"
                                        stroke-miterlimit="10"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
