---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Majikode">
    <section class="py-12 md:py-24 bg-coolGray-50">
        <div class="container mx-auto px-4">
            <div class="mb-16">
                <div class="inline-flex w-full mx-auto justify-center mb-8">
                    <h1
                        class="font-heading text-3xl xs:text-5xl sm:text-7xl md:text-8xl lg:text-10xl tracking-tighter pt-4"
                    >
                        Selected projects
                    </h1>
                    <!-- <span
                        class="block -mb-4 mr-12 lg:mr-8 text-right text-xl sm:text-2xl text-coolGray-600"
                        >(0)</span
                    > -->
                </div>
                <!-- <ul class="flex -mb-2 flex-wrap items-center">
                    <li class="mb-2 mr-2 md:mr-6">
                        <a
                            class="inline-block py-2.5 px-5 text-lg text-white bg-black rounded-full transition duration-100"
                            href="#">All</a
                        >
                    </li>
                    <li class="mb-2 mr-2 md:mr-6">
                        <a
                            class="inline-block py-2.5 px-5 text-lg text-black hover:text-white hover:bg-black rounded-full transition duration-100"
                            href="#">Villa</a
                        >
                    </li>
                </ul> -->
            </div>
            <div class="flex flex-wrap justify-center -mx-4">
                <div class="w-full lg:w-1/2 px-4 mb-20 lg:mb-0">
                    <div>
                        <a class="group block mb-8" href="/contact">
                            <div class="text-black flex items-center justify-between pb-4 border-b">
                                <h3 class="text-2xl tracking-tight">
                                    Nothing public yet... <br />Maybe you can be the first?
                                </h3>
                                <span>
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M22 2L2 22"
                                            stroke="currentColor"
                                            stroke-width="3.25"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M22 20.3393V2H3.66071"
                                            stroke="currentColor"
                                            stroke-width="3.25"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                        <!-- <a class="group block mb-8" href="#">
                            <div
                                class="flex items-center mb-2 text-coolGray-500 group-hover:text-coolGray-600"
                            >
                                <span class="text-sm">Mobile</span>
                                <span class="inline-block mx-4">&middot;</span>
                                <span class="text-sm">Flutter</span>
                            </div>
                            <div
                                class="text-coolGray-500 group-hover:text-black flex items-center justify-between pb-4 border-b"
                            >
                                <h3
                                    class="text-2xl xs:text-4xl sm:text-5xl tracking-tight"
                                >
                                    Project 1
                                </h3>
                                <span
                                    class="group-hover:rotate-45 transform transition duration-100"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M22 2L2 22"
                                            stroke="currentColor"
                                            stroke-width="3.25"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M22 20.3393V2H3.66071"
                                            stroke="currentColor"
                                            stroke-width="3.25"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                        <a class="group block mb-8" href="#">
                            <div
                                class="flex items-center mb-2 text-coolGray-600"
                            >
                                <span class="text-sm">Web</span>
                                <span class="inline-block mx-4">&middot;</span>
                                <span class="text-sm">Python, Django</span>
                            </div>
                            <div
                                class="text-black flex items-center justify-between pb-4 border-b"
                            >
                                <h3
                                    class="text-2xl xs:text-4xl sm:text-5xl tracking-tight"
                                >
                                    Project 2
                                </h3>
                                <span>
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M22 2L2 22"
                                            stroke="currentColor"
                                            stroke-width="3.25"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M22 20.3393V2H3.66071"
                                            stroke="currentColor"
                                            stroke-width="3.25"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </div>
                        </a> -->
                    </div>
                </div>
                <!-- <div class="w-full lg:w-1/2 px-4">
                    <img
                        class="block w-full lg:max-w-md xl:max-w-lg mx-auto lg:mr-0"
                        src=""
                        alt=""
                    />
                </div> -->
            </div>
        </div>
    </section>
</Layout>
