<div class="py-12 px-8 md:px-10 bg-white rounded-4xl max-w-xl mx-auto lg:mr-0">
    <h3 class="text-3xl tracking-tight mb-8">Schedule a Call</h3>
    <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline">
    </div>
</div>

<script type="text/javascript">
(function (C, A, L) {
    let p = function (a, ar) {
        a.q.push(ar);
    };
    let d = C.document;
    C.Cal =
        C.Cal ||
        function () {
            let cal = C.Cal;
            let ar = arguments;
            if (!cal.loaded) {
                    cal.ns = {};
                    cal.q = cal.q || [];
                    d.head.appendChild(d.createElement("script")).src = A;
                    cal.loaded = true;
                }
                if (ar[0] === L) {
                    const api = function () {
                        p(api, arguments);
                    };
                    const namespace = ar[1];
                    api.q = api.q || [];
                    typeof namespace === "string"
                        ? (cal.ns[namespace] = api) && p(api, ar)
                        : p(cal, ar);
                    return;
                }
                p(cal, ar);
            };
    })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", { origin: "https://cal.com" });

    Cal("inline", {
        elementOrSelector: "#my-cal-inline",
        calLink: "kamil-marut/30min",
        layout: "month_view",
    });

    Cal("ui", {
        theme: "light",
        styles: { branding: { brandColor: "#ed9d00" } },
        hideEventTypeDetails: false,
        layout: "month_view",
    });
</script>
