---
import { Image } from "astro:assets";
import MajikodeLogo from "../assets/images/logo.png";
import ClutchCoIcon from "../assets/images/social/clutchco.png";
import LinkedInIcon from "../assets/images/social/linkedin.png";

const year = new Date().getFullYear();
---

<footer class="flex flex-wrap items-center justify-center relative py-4">
    <div class="hidden xl:block w-4/12 mx-auto">
        <a class="inline-block" href="/">
            <Image height={24} src={MajikodeLogo} alt="Majikode" loading="eager" />
        </a>
    </div>
    <div class="md:w-1/2 xl:w-4/12 px-4 xl:text-center">
        <span class="text-sm text-coolGray-500">© {year} Majikode</span>
    </div>
    <div class="xl:w-4/12 px-4">
        <div class="flex xs:flex-row -mb-3 xs:items-center md:justify-end">
            <a
                class="inline-flex mb-3 mr-8 items-center text-black"
                target="_blank"
                rel="noreferrer noopener"
                href="https://clutch.co/profile/majikode"
            >
                <Image width={14} src={ClutchCoIcon} alt="" loading="eager" />
                <span class="ml-3 text-sm">Clutch</span>
            </a>
            <a
                class="inline-flex mb-3 items-center text-black"
                target="_blank"
                rel="noreferrer noopener"
                href="https://www.linkedin.com/company/majikode"
            >
                <Image width={14} src={LinkedInIcon} alt="" loading="eager" />
                <span class="ml-3 text-sm">LinkedIn</span>
            </a>
        </div>
    </div>
</footer>
