---
import { Image } from "astro:assets";
import MajikodeLogo from "../assets/images/logo.png";
---

<nav>
    <div class="container mx-auto px-4">
        <div class="flex h-24 items-center">
            <a class="inline-block" href="/">
                <Image height={24} src={MajikodeLogo} alt="Majikode" loading="eager" />
            </a>
            <button class="lg:hidden navbar-burger py-1 ml-auto">
                <svg width="44" height="16" viewBox="0 0 44 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                    ><rect width="44" height="2" rx="1" fill="black"></rect><rect
                        y="14"
                        width="44"
                        height="2"
                        rx="1"
                        fill="black"></rect></svg
                >
            </button>
            <div class="hidden lg:flex ml-auto mr-12 items-center">
                <a class="inline-block hover:underline mr-10" href="/services">Services</a><a
                    class="inline-block hover:underline"
                    href="/portfolio">Portfolio</a
                >
            </div>
            <a
                class="group hidden lg:inline-flex py-4 px-8 items-center justify-center leading-none font-medium text-black hover:text-white border border-black rounded-full hover:bg-black transition duration-200"
                href="/contact"
            >
                <span class="mr-2">Get in touch</span>
                <span class="group-hover:rotate-45 transform transition duration-100">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9 1L1 9"
                            stroke="currentColor"
                            stroke-width="1.3"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M9 8.33571V1H1.66429"
                            stroke="currentColor"
                            stroke-width="1.3"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</nav>
<div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-md z-50">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-50"></div>
    <nav class="relative flex flex-col py-6 px-10 w-full h-full bg-white overflow-y-auto">
        <div class="flex mb-auto items-center">
            <a class="inline-block mr-auto" href="/">
                <Image width={200} src={MajikodeLogo} alt="" />
            </a>
            <button class="navbar-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6 18L18 6M6 6L18 18"
                        stroke="#111827"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </button>
        </div>
        <div class="py-12 mb-auto">
            <ul class="flex-col">
                <li class="mb-6">
                    <a class="inline-block text-black" href="/services">Services</a>
                </li>
                <li class="mb-6">
                    <a class="inline-block text-black" href="/portfolio">Portfolio</a>
                </li>
            </ul>
        </div>
        <div>
            <a
                class="block mb-3 px-4 py-4 text-center font-medium text-black hover:text-white border border-black hover:bg-black rounded-full transition duration-200"
                href="/contact">Get in touch</a
            >
        </div>
    </nav>
</div>

<script>
    const navbarBurger = document.querySelector(".navbar-burger");
    const navbarMenu = document.querySelector(".navbar-menu");
    const navbarBackdrop = document.querySelector(".navbar-backdrop");
    const navbarClose = document.querySelector(".navbar-close");

    navbarBurger!.addEventListener("click", () => {
        navbarMenu!.classList.add("block");
        navbarMenu!.classList.remove("hidden");
    });

    navbarBackdrop!.addEventListener("click", () => {
        navbarMenu!.classList.add("hidden");
        navbarMenu!.classList.remove("block");
    });

    navbarClose!.addEventListener("click", () => {
        navbarMenu!.classList.add("hidden");
        navbarMenu!.classList.remove("block");
    });
</script>
